{% extends "base.html" %}

{% block content %}

<h3>📊 인사이트</h3>
<div class="common-half-container">
    <div class="board-container" style="height: calc(100vh - 200px);">
        <div class="board-header">
            <h2>게시판</h2>
            <a href="{{ url_for('ecnm.info.write') }}" class="btn-write">글쓰기</a>
        </div>

        <table class="board-table">
            <thead>
                <tr>
                    <th width="3%">No</th>
                    <th width="20%">구분</th>
                    <th width="47%">제목</th>
                    <th width="15%">작성자</th>
                    <th width="15%">작성일</th>
                </tr>
            </thead>
            <tbody id="postList">
                <tr>
                    <td colspan="4" class="empty-row">데이터를 불러오는 중...</td>
                </tr>
            </tbody>
        </table>
        <div class="board-pagination" style="display: flex; justify-content: center; align-items: center; gap: 5px; flex-shrink: 0;">
        </div>
    </div>
    <div class="common-full-container">
        
    </div>
</div>

<script src="{{ url_for('static', path='/js/ecnm/info/indx.js') }}"></script>

{% endblock %}