/* static/css/ecnm/ecnm_write.css */
.form-table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 20px;
}

.form-table td {
    border: 1px solid #000;
    padding: 4px;
    vertical-align: top;
}

.form-table input,
.form-table select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    resize: none;
}

.form-table textarea {
    width: 100%;
    height: 100%;         
    border: none;
    outline: none;
    padding: 8px;             /* 너무 커지면 4px로 변경 가능 */
    font-size: 14px;
    resize: none;             /* 크기 조절 막기 (선택) */
    box-sizing: border-box;   /* ⭐ padding 포함하여 td에 딱 맞춤 */
}

.form-table input::placeholder,
.form-table textarea::placeholder {
    color: #888;
}
