{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ecnm/ecnm_info.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  <h3>경제 정보</h3>

  <div class="btn-write-box">
    <a href="{{ url_for('ecnm.ecnm_info.ecnm_write') }}" 
      class="btn">
      글쓰기
    </a>
  </div>

  {% if ecnm_list %}
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 80%">제목</th>
            <th style="width: 15%">작성일</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ecnm_list %}
          <tr>
            <td>{{ loop.length - loop.index0 }}</td>
            <td class="td-list-title">
              <a href="{{ url_for('ecnm.ecnm_info.ecnm_detail', item_id=item.dtl_code ~ '/' ~ item.proc_date) }}" 
                 class="text-decoration-none text-dark fw-semibold">
                 {{ item.title }}
              </a>
            </td>
            <td>{{ item.rgst_date[:4] }}.{{ item.rgst_date[4:6] }}.{{ item.rgst_date[6:] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- ⭐ 페이지네이션 (chunk 기반) ⭐ -->
    {% if nav_page.total_pages > 1 %}
    <nav class="my-pagination">
      <ul>

        <!-- 이전 < -->
      {% if nav_page.chunk_start > 1 %}
        <li>
          <a href="?page={{ nav_page.prev_chunk_page }}">&lt;</a>
        </li>
      {% endif %}

        <!-- 페이지 번호 (2개씩) -->
        {% for p in range(nav_page.chunk_start, nav_page.chunk_end + 1) %}
          <li class="{% if p == nav_page.page %}active{% endif %}">
            <a href="?page={{ p }}">{{ p }}</a>
          </li>
        {% endfor %}

        <!-- 다음 > -->
      {% if nav_page.chunk_end < nav_page.total_pages %}
        <li>
          <a href="?page={{ nav_page.next_chunk_page }}">&gt;</a>
        </li>
      {% endif %}

      </ul>
    </nav>
    {% endif %}

  {% else %}
    <p class="text-muted">표시할 경제 정보가 없습니다.</p>
  {% endif %}
</div>

{% endblock %}
