<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}내 사이트{% endblock %}</title>    
    
    <link rel="stylesheet" href="{{ url_for('static', path='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/home/home.css') }}">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <div class="header-container">  
      <div class="header-top">
         <div class="header-right">
            <div id="auth-logged-in" style="display: none;">
               <span class="logn-name" id="user-name-display"></span>
               <a href="#" onclick="logout(); return false;" class="login-link">로그아웃</a>
            </div>

            <div id="auth-logged-out" style="display: none;">
               <a href="{{ url_for('auth.login_page') }}" class="login-link">로그인</a>
               <a href="{{ url_for('auth.signup') }}" class="login-link">회원가입</a>
            </div>
         </div>
      </div>    
      <div class="header-main">
         <a href="{{ url_for('home') }}" class="logo-link">
            <div class="logo">
               <img src="{{ url_for('static', path='img/logo.png') }}" alt="logo">
            </div>
            <div class="company-name">Parc</div>
         </a>
      </div>
   </div>
      <nav class="nav-indx">      
        <a href="{{ url_for('home') }}" 
           class="top-button {% if active_top == 'home' %}active{% endif %}">홈</a>
        <a href="{{ url_for('ecnm') }}" 
           class="top-button {% if active_top == 'ecnm' %}active{% endif %}">경제</a>
        <a href="{{ url_for('home') }}" 
           class="top-button {% if active_top == 'asst' %}active{% endif %}">자산</a>
        <a href="{{ url_for('home') }}" 
           class="top-button {% if active_top == 'dev' %}active{% endif %}">개발</a>
        <a href="{{ url_for('home') }}"
           class="top-button {% if active_top == 'aaa' %}active{% endif %}">마이페이지</a>
    </nav>
      <nav class="nav-dtl">      
      {% for tab in nav_dtl_tabs %}
         <a href="{{ tab.url }}" 
             class="top-button {% if tab.id == active_dtl %}active{% endif %}">{{ tab.name }}</a>
      {% endfor %}
    </nav>
  <div class="content">
      {% block content %}

      {% endblock %}

      <script src="{{ url_for('static', path='/js/base.js') }}"></script>
  </div>
</body>
</html>